body{
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}

h1{
    color: olive;
}

button{
    background-color: greenyellow;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: red;
}